*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

:root {
    --bg-dark-green: #1A3129;
    --bg-green : #CBEA7B; 
    --light-green: #F6FBE9;
    --text-dark : #262626; 
    --text-light: #FAFDF2;
    --white: #fff;
    --bg-medium: #234338;
    --border :#2C5446;
    --border-light : #E5F5BD;
    --small-text : 1.13rem;
    --text-heading : 3rem;
}

a { 
    text-decoration: none; 
}
h1{
    font-size: 3rem;
}
h2 {
    font-size: var(--text-heading);
    color: var(--text-dark);
}

p {
    color: var(--text-dark);
    font-size: var(--small-text);
}

.container {
    max-width: 1500px;
    margin: auto;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}
section { 
    background-color: var(--text-light); 
}


.pricing-card .plan-desc2 {
    font-size: var(--small-text);
    color: var(--text-dark);
    line-height: 1.6;
    margin: 2rem 0;
    border:2px solid var(--border-light);
    background-color: #EEF8D3;
    border-radius: 8px;
}
.pricing-card .plan-desc2 p{
    padding: 1rem;
    border-bottom: 2px solid var(--border-light);
}
.pricing-card .Ultimate-plan-desc {
    font-size: var(--small-text);
    line-height: 1.6;
    margin-bottom: 2rem;
    background-color: var(--bg-medium);
    border-radius: 8px;
}
.pricing-card .Ultimate-plan-desc p{
    color: var(--white);
    padding: 1rem;
}

/* FREE PLAN  */
.free-plan-section{
    padding-bottom: 2rem;

}
.free-plan{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 1.2rem; */
    background-color: var(--light-green);
    padding: 4rem 2rem 2rem 2rem;
    border: 1.8px solid var(--border-light);
    border-radius: 10px;
}
.free-plan h4{
    font-size: 1.38rem;
    color: var(--white);
    background-color: var(--bg-medium);
    padding: 1.5rem;
    width: 95%;
    border-radius: 8px; 
    transition: all 0.2s ease;
}
.free-plan h4:hover {
    background: var(--border);
}

.free-plan h5{
    font-size: 1.38rem;
    color: var(--white);
    background-color: var(--bg-medium);
    padding: 1.5rem 0.2rem;
    width: 90%;
    text-align: center;
    border-radius: 8px;
    transition: all 0.2s ease;
}
.free-plan h5:hover {
    background: var(--border);
}
.free-box{
    display: flex;
    flex-direction: column;
    gap:2rem;
    max-width: 30rem;
    width: 30rem;
    border-right: 1.8px solid var(--border-light);
}
.free-box p{
    font-size: 1.25rem;
    flex: 1;
    padding-left: 1.5rem;
    border-bottom: 1.8px solid var(--border-light);
    padding: 1rem;
}
.free-box p:last-child{
    border-bottom: none;
}
.free-boxs{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap:2rem; */
    border-right: 1.8px solid var(--border-light);
} 

.check-box{
    width: 100%;
    border-bottom: 1.8px solid var(--border-light);
    padding: 3rem;
}
.check-box:last-child{
    border-bottom: none;
}
.check{
    width: fit-content;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    border-radius: 5px;
    background-color: var(--bg-green);
}
.cross{
    width: fit-content;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    border-radius: 5px;
    background-color: var(--border-light);
}

/* FAQ  */
.faq{
    padding: 4rem 0;
}
.faq-heading h2{
    text-align: center;
}
.faq-heading .faq-para{
    max-width: 996px;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
}
.faq-content{
    display: flex;
    margin: 4rem 0;
    gap: 2rem;
    
}
.faq-bg{
    background-color: var(--light-green);
    border: 1.8px solid var(--border-light);
    padding: 2rem;
    border-radius: 10px;
}
.faq-qus{
    justify-content: space-between;
    display: flex;
    border-bottom: 2px solid var(--border-light);
    padding: 1.5rem 2rem;
    /* align-items: center; */
    gap: 2rem;
}
.faq-qus:last-child{
    border-bottom: none;
}
.qus-ans{
    max-width: 800px;
    align-items: center;
}
.qus-ans h3{
    font-size: 1.25rem;
    font-weight: 600;
}
.faq-qus .qus-para{
    margin: 1rem 0;
    display: none;
}
.faq-qus.active .qus-para{
    display: block;
}
.qus-ans p{
    font-size: 1.13rem;
    max-width: 810px;
    line-height: 1.5;
}
.ask-your-qus{
    height: fit-content;
    background-color: var(--light-green);
    border: 1.8px solid var(--border-light);
}
.faq-icon{
    background-image: url(images/pricing-image/faq-plus-icon.svg);
    width: 15px;
    height: 15px;
    font-size: 5rem;
    background-repeat: no-repeat;
    background-position: center;
}
.faq-qus.active .faq-icon{
    background-image: url(images/pricing-image/cross-icon.svg);
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
}
.faq-cross-icon{
    background-color: var(--bg-medium);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.faq-cross-icon:hover {
    background: var(--border);
}
.ask-your-qus{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    border-radius: 10px;
    padding: 4.9rem;
}
.ask-your-qus h4{
    font-size: 2.13rem;
    color: var(--bg-medium);
    margin-top: 1.8rem;
    text-align: center;
}
.ask-your-qus p{
    text-align: center;
}
.qus-center{
    display: flex;
    align-items: center;
}
.ask-btn{
    background-color: var(--bg-green);
    padding: 1rem 1.5rem;
    font-size: 1.13rem;
    color:var(--text-dark);
    border-radius: 10px;
    font-weight: 600;
    margin-top: 1.8rem;
    transition: all 0.2s ease;
}
.ask-btn:hover {
    background: var(--border);
    color: var(--white);
}
@media(max-width:1600px){

    .container{
        padding: 0 2rem;
    }
}

@media (max-width:1000px){

    .free-plan{
        overflow-x: scroll;
        /* scrollbar-color: var(--bg-dark-green) var(--border-light); */
    }
    .free-plan::-webkit-scrollbar {
        width: 10px;
    }
    .free-plan::-webkit-scrollbar-thumb{
        background-color: var(--bg-green);
        /* width: 50px; */
    }
    .pricing-mobile{
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media (max-width:800px){
    .faq-content{
        flex-direction: column;
    }
}
@media(max-width: 678px){
    .pricing-mobile{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

